@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

<h3>Dashboard</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Bar Chart</h4>
            <img src="images/random/barchart.jpg" alt="Bar Chart Image" class="img-fluid" />
        </div>
        <div class="col-md-6">
            <h4>Pie Chart</h4>
            <img src="images/random/piechart.jpg" alt="Bar Chart Image" class="img-fluid" />
        </div>
    </div>
</div>

@code {


}
