@page "/stopwatch"

<div class="watchbox">
	<div class="boxcenter">
		<h1>Timer</h1>
		<div class="container-fluid">
            <button class="startbutton w-100" onclick="@(async() => { if (!isRunning) await StartTimer(); })">Start/Resume</button>
            <button class="watchbutton" onclick="@Pause">Pause</button>
            <button class="watchbutton" onclick="@Reset">Reset</button>

		</div>
		

		<p>@stopwatchvalue</p>
	</div>
</div>
